Section: misc
Priority: optional
Homepage: https://github.com/FershoUno/avda
Package: CHANGE_NAME
Version: CHANGE_VERSION
Maintainer: Fersho Uno <fersh0un0@gmail.com>
Architecture: CHANGE_ARCH
Installed-Size: CHANGE_SIZE
Copyright: GPL-3.0
Description: A desktop app for generating 
 and viewing one-time passwords from Aegis 
 Authenticator backups.
